<!-- 
Sign up page, pretty much the same as login.
-->
{% extends 'base.jinja' %}


{% block content %} 
    <h1>Sign Up</h1>
    <p>Username</p>
    <input id="username"/>
    <p>Password</p>
    <input id="password" type="password"/>
    <button onclick="signup()">Sign up</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>

    <script>
         function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        // this function is identical to login(), see login.jinja
        async function signup() {
            console.log("test");
            Cookies.remove("room_id");
            let loginURL = "{{ url_for('signup_user') }}";
            let username = $("#username").val();
            let password = $("#password").val();
            let salt = CryptoJS.lib.WordArray.random(128/8).toString();
            console.log(`Combining password '${password}' and salt '${salt}'`);
            let hash = CryptoJS.SHA256(password+salt).toString();
            let res = await axios.post(loginURL, {
                username: username,
                password: hash,
                salt: salt
            });
            if (!isValidURL(res.data)) {
                alert(res.data);
                return;
            }
            window.open(res.data, "_self")
        }
    </script>
    
{% endblock %}
